<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="/layout :: head">
  <title>ListCustomer</title>
</head>
<body>
<h3>Customers</h3>
<p>
  <a th:href="@{/products/create}">
    Add new customer
  </a>
</p>
<div class="notify">
  <div th:if="${success}">
    <span th:text="${success}"></span>
  </div>
</div>

<table id = "products">
  <thead>
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Describe</th>
    <th>Address</th>

    <th>Edit</th>
    <th>Delete</th>
    <th>View</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="p, rowStat : ${product}">
    <td th:text="${p.getName()}"></td>
    <td th:text="${p.getPrice()}"></td>
    <td th:text="${p.getDescribe()}"></td>
    <td th:text="${p.getAddress()}"></td>
    <td><a th:href="@{/products/{id}/edit(id=${p.getId()})}">edit</a></td>
    <td><a th:href="@{/products/{id}/delete(id=${p.getId()})}">delete</a></td>
    <td><a th:href="@{/products/{id}/view(id=${p.getId()})}">view</a></td>
  </tr>
  </tbody>
</table>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>